{% if site.fonts.preconnect_urls %}
{% for url in site.fonts.preconnect_urls %}
     <link rel="preconnect" href="{{ url }}" crossorigin />
  {% endfor %}
{% endif %}

{% if site.fonts.font_urls %}
    {% for font in site.fonts.font_urls %}
        <link rel="preload" as="style" href="{{ font }}" />
        <link href="{{ font }}" rel="stylesheet" media="print" onload="this.media='all'" />
    {% endfor %}
    <noscript>
        {% for font in site.fonts.font_urls %}
            <link href="{{ font }}" rel="stylesheet" />
        {% endfor %}
    </noscript>
{% endif %}
