<div class="box">
    <h1 class="title">{{ include.title }}</h1>
    {% if include.image %}
      <figure class="image is-16by9">
        <img src="{{ include.image }}" alt="{{ include.title }}">
      </figure>
    {% endif %}
    {% if include.icon %}
      <span class="icon is-large">
        <i class="{{ include.icon }}"></i>
      </span>
    {% endif %}
    <p>{{ include.description }}</p>
    <ul>
      <li><strong>Category:</strong> {{ include.category }}</li>
      <li><strong>Solution:</strong> {{ include.solution }}</li>
      <li><strong>Status:</strong> {{ include.status }}</li>
      <li><strong>Started on:</strong> {{ include.start_date }}</li>
    </ul>
    <h2>Why?</h2>
    <p>{{ include.why }}</p>
    <h2>How?</h2>
    <p>{{ include.how }}</p>
  </div>
  