{% if include.type == "image" %}
  <figure class="image {{ include.size | default: 'is-64x64' }}">
    <img src="{{ include.src }}" alt="{{ include.alt | default: 'Icon' }}">
  </figure>
{% elsif include.type == "font-awesome" %}
  <span class="icon {{ include.size | default: '' }}">
    <i class="fa fa-{{ include.name }}" aria-hidden="true"></i>
  </span>
{% elsif include.type == "material" %}
  <span class="icon {{ include.size | default: '' }}">
    <i class="material-icons">{{ include.name }}</i>
  </span>
{% endif %}
