{% assign exp = site.data.resume.experience %}
<div class="experience mt-5">
    <div class="title is-size-5 has-text-primary has-text-weight-bold">
        {% if exp.icon_class %}<i class="mr-1 ph {{ exp.icon_class }}"></i>{% endif %} {{ exp.title }}
    </div>
    <hr class="has-background-primary" style="height: 2px; margin-top: 0.5rem;">
    {% for item in exp.items %}
        <div class="item mt-3 p-1">
            <div class="is-flex is-align-items-center">
                {% if item.company_logo %}
                <div class="is-flex-grow-0 mr-3">
                    <img class="image is-24x24 company-logo" src="{{ item.company_logo | relative_url }}" alt="{{ item.company_name }} logo">
                </div>
                {% endif %}
                <div class="is-flex-grow-1">
                    <div class="is-flex is-justify-content-space-between is-align-items-center">
                        <div>
                            <b>{{ item.company_name }},</b>
                            <span class="has-text-weight-semi-bold">
                                {{ item.location }} —
                                <i>{{ item.role }}</i>
                            </span>
                        </div>
                        <div class="is-hidden-mobile is-size-7 tag is-primary is-light">{{ item.date_range }}</div>
                    </div>
                    <div class="is-hidden-tablet is-size-7 tag is-primary is-light mt-2">{{ item.date_range }}</div>
                </div>
            </div>

            <ul class="p-1 mt-3" style="list-style: disc; margin-left: 3em">
                {% for responsibility in item.responsibilities %}
                    <li>{{ responsibility }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>