{% assign pi = site.data.resume.personal_info %}
<div class="hero is-white is-small is-resume-header">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile is-multiline is-vcentered">
                <!-- Image column -->
                <div class="column is-3-mobile is-one-quarter-tablet is-2 has-text-centered">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{ pi.profile_image | relative_url }}" alt="Profile Image">
                    </figure>
                </div>

                <!-- Name and job title column -->
                <div class="column is-9-mobile is-three-quarters-tablet is-7">
                    <div class="content">
                        <h1 class="title">
                            <span class="first">{{ pi.first_name }}</span>
                            <span>{{ pi.last_name }}</span>
                        </h1>
                        <p class="subtitle">
                            <i class="ph-briefcase has-text-grey-darker"></i> {{ pi.job_title }} at
                            <i class="ph-map-pin has-text-grey-darker"></i> {{ pi.company_location }}
                        </p>
                    </div>
                </div>

                <!-- Details column -->
                <div class="column is-9-mobile is-three-quarters-tablet is-3">
                    <div class="content has-text-centered-mobile">
                        {% if pi.details.address %}<p><strong>{{ pi.details.address }}</strong></p>{% endif %}
                        {% if pi.details.phone %}<p><strong>Contact:</strong> {{ pi.details.phone }}</p>{% endif %}
                        {% if pi.details.email %}<p><strong>Email:</strong> {{ pi.details.email }}</p>{% endif %}
                        {% if pi.details.website_url %}
                            <p>
                                <strong>Website:</strong>
                                <a href="{{ pi.details.website_url }}" target="_blank" rel="noopener noreferrer">{{ pi.details.website_text }}</a>
                            </p>
                        {% endif %}
                        <div class="social-icons">
                            {% for social in pi.social_media %}
                                <a href="{{ social.url }}" class="social-icon" target="_blank" rel="noopener noreferrer">
                                    <span class="icon"><i class="ph {{ social.icon_class }}"></i></span>
                                    <span>{{ social.username }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>