{% assign proj = site.data.resume.projects %}
<div class="projects mt-5">
    <div class="title is-size-5 has-text-primary has-text-weight-bold">
        {% if proj.icon_class %}<i class="mr-1 ph {{ proj.icon_class }}"></i>{% endif %} {{ proj.title }}
    </div>
    <hr class="has-background-primary" style="height: 3px; margin-top: 0.5rem;">
    {% for item in proj.items %}
        <div class="columns mb-4">
            {% if item.logo %}
            <div class="column is-2">
                <img class="image is-64x64" src="{{ item.logo | relative_url }}" alt="{{ item.name }}">
            </div>
            {% endif %}
            <div class="column {% if item.logo %}is-10{% else %}is-12{% endif %}">
                <div class="is-size-5">
                    <b>{{ item.name }}</b>
                    {% if item.date_range %}<div class="tag is-light">{{ item.date_range }}</div>{% endif %}
                </div>
                <p class="is-size-6 mt-2">{{ item.description | markdownify }}</p>
            </div>
        </div>
    {% endfor %}
</div>