<!-- _includes/author-card.html -->
<div class="card">
    <div class="card-content">
      <!-- Author Header with Avatar -->
      <div class="media">
        <div class="media-left">
          <figure class="image is-96x96">
            <img src="{{ site.author.image | default: '/assets/logos/logo.svg' }}" 
                 alt="{{ site.author.name }}" 
                 class="is-rounded">
          </figure>
        </div>
        <div class="media-content">
          <h2 class="title is-4 mb-1">{{ site.author.name }}</h2>
          <div class="tags are-small mb-2">
            {% for title in site.author.titles %}
            <span class="tag is-primary is-light">{{ title }}</span>
            {% endfor %}
          </div>
          <p class="subtitle is-6 has-text-grey">{{ site.author.description }}</p>
        </div>
      </div>
  
      <!-- Author Bio -->
      <div class="content mt-5">
        <h3 class="title is-5 mb-3">About Me</h3>
        <p class="mb-4">{{ site.description }}</p>
        
        <div class="mb-5">
          <h4 class="title is-6 mb-2">Hobbies & Interests</h4>
          <div class="tags">
            {% for hobby in site.author.hobbies %}
            <span class="tag is-info is-light">{{ hobby }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  
    <!-- Footer with Site Info -->
    <footer class="card-footer">
      <div class="card-footer-item">
        <div class="social-links">
            <div class="buttons has-addons are-small is-centered">
              {% for social in site.social_media %}
              <a href="{{ social.url }}" 
                 class="button  is-primary m-2"
                 target="_blank"
                 rel="noopener noreferrer">
                <span class="icon">
                  <i class="fab fa-{{ social.name }}"></i>
                </span>
              </a>
              {% endfor %}
            </div>
          </div>
      </div>
    </footer>
  </div>