
    <div class="columns my-5 p-5">
      <!-- Column for Instagram icon -->
      <div class="column is-1 has-text-centered">
        <span class="icon is-large has-text-primary">
          <i class="fab fa-instagram fa-2x"></i>
        </span>
      </div>
  
      <!-- Column for Custom Title and User Handle -->
      <div class="column is-7">
        <p class="title is-4" style="color: var(--bulma-primary);">{{ include.custom_title }}</p>
        <p class="subtitle is-6">Posted by @{{ include.user_handle }}</p>
        <!-- Instagram Embed -->
        <blockquote class="instagram-media mt-5" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/{{ include.id }}/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"></blockquote>
        <script async src="//www.instagram.com/embed.js"></script>
      </div>
    </div>

    <div class="column is-4">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1291242080282540"
     crossorigin="anonymous"></script>
<!-- Square ( Responsive ) -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1291242080282540"
     data-ad-slot="7663977887"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
      </div>
  
    