
  <div class="columns  is-centered my-5">
    <!-- Column for Twitter icon -->
    <div class="column is-2 has-text-centered">
      <span class="icon has-text-primary">
        <i class="fab fa-twitter fa-2x"></i>
      </span>
    </div>

    <!-- Column for Custom Title and User Handle -->
    <div class="column is-8">
      <p class="title is-4">{{ include.custom_title }}</p>
      <p class="subtitle">Tweeted by @{{ include.user_handle }}</p>
       <!-- Tweet Embed -->
  <blockquote class="twitter-tweet" style="margin: 1em auto;">
    <a href="https://twitter.com/{{ include.user_handle }}/status/{{ include.id }}"></a>
  </blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="column is-4">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1291242080282540"
        crossorigin="anonymous"></script>
   <!-- Vertical ( Responsive ) -->
   <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1291242080282540"
        data-ad-slot="3487917390"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
   <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
   </script>
    </div>
  </div>
 
