<!-- Video Embed -->
<figure class="image is-16by9 is-youtube" id="youtube-video-{{ include.id }}">
  <iframe
    class="has-ratio"
    src="https://www.youtube.com/embed/{{ include.id }}?start={{ include.start_time | default: '0' }}&end={{ include.end_time | default: '0' }}&autoplay={{ include.autoplay | default: 'false' }}&controls={{ include.controls | default: 'true' }}&mute={{ include.muted | default: 'false' }}&showinfo={{ include.showinfo | default: 'true' }}&loop={{ include.loop | default: 'false' }}"
    title="{{ include.title }}"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</figure>

<div class="columns is-mobile is-multiline is-vcentered my-5">
  <!-- Column for YouTube icon -->
  <div class="column is-2-mobile is-1-tablet has-text-centered">
    <span class="icon is-large" style="color: var(--bulma-primary);">
      <i class="fab fa-youtube fa-3x mr-3"></i>
    </span>
  </div>
  <!-- Column for Title and Description -->
  <div class="column is-10-mobile is-8-tablet">
    <p class="title is-5" style="color: var(--bulma-primary);">{{ include.title }}</p>
    <p class="subtitle is-6">{{ include.description }}</p>
  </div>
  <!-- Column for Author and Other Details -->
  <div class="column is-12-mobile is-3-tablet">
    <span class="is-size-7 mb-2">by</span>
    <p class="has-text-weight-bold tag">{{ include.author }}</p>
  </div>
</div>

<!-- JSON-LD Structured Data -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "VideoObject",
  "name": "{{ include.title }}",
  "description": "{{ include.description }}",
  "thumbnailUrl": "https://img.youtube.com/vi/{{ include.id }}/hqdefault.jpg",
  "uploadDate": "{{ page.date | date_to_xmlschema }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.author }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ include.author }}"
  },
  "contentUrl": "https://www.youtube.com/watch?v={{ include.id }}",
  "embedUrl": "https://www.youtube.com/embed/{{ include.id }}",
  "hasPart": [
    {
      "@type": "Clip",
      "name": "Full Video",
      "startOffset": "{{ include.start_time }}",
      "endOffset": "{{ include.end_time }}",
      "url": "https://www.youtube.com/watch?v={{ include.id }}&start={{ include.start_time }}&end={{ include.end_time }}"
    }
  ]
}
</script>
